<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RemoteCar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>RspberryPi IP</strong>
    <ion-input [value]="addressIp"></ion-input>  
  <ion-button expand="full" color="success" [routerLink]="['/controlling',addressIp]" >Dalej</ion-button>
  
  </div>

</ion-content>
